* {
    margin: 0;
    padding: 0;
}


.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* height: 100vh; */
   width: 100%;
}


#text, #dataOt, #days {
    font-size: 9vh;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

#knopa {
    margin-top: 20px;
}

.rules {
    margin-top: 10px;
    text-align: center;
}

.rules p {
    font-size: 3vh;
    font-weight: 600;
    margin: 5px;
    border: 2px solid gray;
    padding: 10px;
}


#dataOt {
    font-size: 4vh;
}