* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(241 245 249); */
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* height: 100vh; */
   /* width: 100%; */
   max-width: 700px;
   margin: 0 auto;
   /* border: 2px solid red; */
}


.forms {
    margin-top: 20px;
}


progress {
    width: 100%;
    height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    -webkit-appearance: none;
  }
  
::-webkit-progress-bar {
    background-color: #DCDCDC;
}

::-webkit-progress-value {
    background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
}

/* ::-webkit-progress-bar {
    background-color: blue;
    padding: 10px;
} */




#text, #days {
    font-size: 9vh;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

#text {
    /* background: rgb(63,94,251); */
    background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dataOt {
    margin-top: 10px;
    margin-bottom: 10px;
}

#selectParam {
    padding: 10px;
    border-radius: 8px;
    width: 50%;
}

#days {
    width: 100%;
    font-size: 4.7vh;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px;
    /* margin-bottom: 20px; */
}

#knopa {
    margin-top: 20px;
}

.rules {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.rules img {
    max-width: 50%;
    height: auto;
    border-radius: 7px;
}

.blockDuration {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}


.outputDate {
    display: flex;
    justify-content: space-evenly;
}

.outputDate > p {
    font-weight: 600;
    font-size: 2vh;
}

#dateStart, #dateEnd {
    font-size: 2.5vh;
    font-weight: 600;
    /* color: #696969; */
}

.tests {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.tests p {
    margin: 0;
}

.rules p {
    font-size: 3vh;
    font-weight: 600;
    /* margin: 5px; */
    /* border: 2px solid gray; */
    padding: 10px;
    margin: 3px 0;
}


#dataOt {
    font-size: 3vh;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    #text {
        font-size: 7vh;;
    }

    .main {
       margin: 0 5px;
    }
}

@media screen and (max-width: 500px) {
    #text {
        font-size: 6vh;
    }

    #pRules {
        font-size: 1.8vh;
    }

    #days {
        font-size: 3vh;
    }

    #dateStart, #dateEnd {
        font-size: 1.8vh;
    }



}