<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма</title>
</head>
<body>
    <h1>Форма</h1>
    <form id="post-form" method="post" >
        <div class="form-info">
          <label>Pic
            <input type="text" name="pic">
          </label>
          <label>name
            <input type="date" name="name">
          </label>
        </div>
        <div class="form-text">
          <label>desc
            <textarea name="desc"></textarea>
          </label>
        </div>
        <div class="form-button">
          <input type="submit" value="Submit">
        </div>
      </form>
</body>
</html>